<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid inner">
  <ul class="nav navbar-nav">
    <li class="active col-xs-3 nav-item">
         <!--<label>Topic</label>-->
          <select class="form-control">
            <option *ngFor="let topic of topics">{{topic}}</option>
          </select>
    </li>

    <li class="active col-xs-3 nav-item">
            <!--<label>Sentiment</label>-->
           <select class="form-control">
            <option *ngFor="let sentiment of sentiments">{{sentiment}}</option>
           </select>
    </li>

    <li class="active col-xs-3 nav-item">
            <!--<label>Gender</label>-->
            <select class="form-control">
              <option *ngFor="let gender of genders">{{gender}}</option>
            </select>
    </li>

    <li class="active col-xs-3 nav-item">
        <!--<label>Language</label>-->
            <select class="form-control">
              <option *ngFor="let language of languages">{{language}}</option>
            </select>
    </li>
  </ul>
</div><!-- /.container-fluid -->
</nav>

