<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <form class="form-signin mg-btm">
      <h3 class="heading-desc">
        <button type="button" class="close pull-right" aria-hidden="true">×</button>
        Login to AWT Social Network</h3>
      <div class="social-box">
        <div class="row mg-btm">
          <div class="col-md-12">
            <a href="#" class="btn btn-danger btn-block">
              <i class="icon-google"></i>    Login with Google Account
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="btn btn-info btn-block" >
              <i class="icon-twitter"></i>    Login with Twitter
            </a>
          </div>
        </div>
      </div>
      <div class="main">

        <input type="email" class="form-control" placeholder="Email" autofocus>
        <input type="password" class="form-control" placeholder="Password">

        <div class="col-xs-6 col-md-6 pull-right">
          <button type="submit" class="btn btn-large btn-default pull-right">Login</button>
        </div>
      </div>
      <div class="login-footer">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="left-section">
              <a href="">Forgot your password?</a>
              <a routerLink="/register">Register now</a>
            </div>
          </div>
        </div>

      </div>
    </form>
    </div>
  </div>
</div>
