
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a href="#"><b>{{name}}</b></a>
            </div>
          </div>
        </div>
        <div class="post-description">
          <textarea class="form-control" placeholder="What's on your mind"></textarea>
          <div class="stats">
            <a href="#" class="btn btn-default stat-item">
              Post
            </a>
          </div>
        </div>
      </div>

      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a href="#"><b>{{name}}</b></a>
              made a post.
            </div>
            <h6 class="text-muted time">{{time}}</h6>
          </div>
        </div>
        <div class="post-description">
          <p>{{comment}}</p>
          <div class="stats">
            <a href="#" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-up icon"></i>22
            </a>
            <a href="#" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-down icon"></i>12
            </a>
            <a href="#" class="btn btn-default stat-item active">
              Analyze
            </a>
          </div>
        </div>
      </div>

      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="http://bootdey.com/img/Content/user_2.jpg" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a href="#"><b>Ellen</b></a>
              made a post.
            </div>
            <h6 class="text-muted time">3 days ago</h6>
          </div>
        </div>
        <div class="post-description">
          <p>Bootstrap is the best</p>
          <div class="stats">
            <a href="#" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-up icon"></i>22
            </a>
            <a href="#" class="btn btn-default stat-item">
              <i class="fa fa-thumbs-down icon"></i>12
            </a>
            <a href="#" class="btn btn-default stat-item">
              Analyze
            </a>
          </div>
        </div>
      </div>



